name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test-sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd node-cicd-lab
          npm install

      - name: Run tests
        run: |
          cd node-cicd-lab
          npm test

      - name: Run SonarQube Scan
        run: |
          cd node-cicd-lab
          npx sonar-scanner \
            -Dsonar.projectKey=node-cicd-lab \
            -D
